@font-face {
    font-family: 'LethalHabitFont'; 
    src: url('./assets/Blackthorn-axq6a.ttf'); 
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e1111;
    z-index: 10;
    display: flex; 
    justify-content: right;
    width: 100%;
    height: 8vh;
    box-shadow: 0px 0px 5px black;
}

nav > p {
    display: flex;
    font-size: 2em;
    color: white;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.leftSide {
    padding-left: 10%;
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: center;
    font-size: 2vw;
}

.rightSide {
    display: flex;
    justify-content: right;
}

nav > p > button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    margin-right: 5vw;
    cursor: pointer;
    outline: none;
    transition: all ease .3s;
}

nav > p > button:hover {
    color: #909090;
}

body {
    background-color: #0e1111;
    max-width: 100%;
    min-height: 200vh;
}

#app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 10em;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 20vh;
}

.background {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: grid;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 0;
    overflow: hidden;
    height: 100vh;
}

.title {
    font-size: 15vw;
    color: white;
    font-family: "LethalHabitFont";
    font-weight: 300;
    margin: 0;
    padding: 0;

    text-shadow: 2px 2px 2px black;

    position: relative;
    top: 30vh;
    z-index: 1;
    line-break: anywhere;


    user-select: none;
}

.backgroundImage {
    grid-column: 1;
    position: relative;
    grid-row: 1;

    justify-content: center;
    text-align: center;

    height: 100%;
    aspect-ratio: auto;
    filter: drop-shadow(0 0 5px black);
}

section.content {
    text-align: left;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: justify;
    width: 70%;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-bottom: 20vh;
}

.container > p {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.youtubeIframe {
    width: 100%;
    aspect-ratio: 16/9;
}

@media (orientation: portrait) {
    .background > * {
        display: none;
    }

    .background {
        background-image: url('./assets/mobile.png');
        background-position: center;
        height: 100vh;
        background-size: cover;
        aspect-ratio: auto;
        
    }

    nav > .leftSide {
        display: none;
    }

    nav > .rightSide {
        width: 100%;
        text-align: center;
    }
    
    nav {
        height: 10vh;
    }

    .title {
        font-size: 40vw;
        top: 0vh;
    }

    .headline {
        font-size: 6vw;
        text-align: left;
    }

    .container > p {
        font-size: 6vw;
    }

    .container > p {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }

    .container > ul {
        font-size: 6vw;
        line-break: anywhere;
    }

    nav {
        top: unset; 
        bottom: 0;
    }

    nav > p {
        text-align: center;
    }

    nav > p > button:nth-child(1) {
        display: none;
    }

    nav > p > button:nth-child(3) {
        display: none;
    }

    nav > p > button:nth-child(2) {
        width: 100%;
    }
}